doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' ,integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel="stylesheet" href="/login.css")
		title Document
	body 
		.container
			.d-flex.justify-content-center.h-100
				.card
					.card-header
						h3 Sign In
						.d-flex.justify-content-end.social_icon
							span
								i.fab.fa-facebook-square
							span
								i.fab.fa-google-plus-square
							span
								i.fab.fa-twitter-square
					main
						form.product-form(action="/" method="POST")
							label(for="email") username
							input.form-control(type="text" name="email" placeholder="email")
							span.text-danger #{emailStatus}
							br
							label(for="password") password
							input.form-control(type="password" name="password" placeholder="password")
							span.text-danger #{passwordStatus}
							br
							button.btn.btn-warning(type="submit") Login
						br
						.card-footer
						.d-flex.justify-content-center.links Don't have an account?
							a.link(href="#") Sign Up
						.d-flex.justify-content-center
							a.link(href="#") Forgot your password?
